<?xml version="1.0" encoding="utf-8"?>
<RuleSet
  Name="Rules for Libplanet"
  Description="Code analysis rules for Libplanet.csproj."
  ToolsVersion="10.0">

  <Rules
    AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis"
    RuleNamespace="Microsoft.Rules.Managed">

    <!-- TODO: Write copyright -->
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1652" Action="None" />
    <!-- Allow field name to begin with an underscore. -->
    <Rule Id="SA1309" Action="None" />
    <!-- Allow an expression not to declare parenthese. -->
    <Rule Id="SA1407" Action="None" />
    <!-- Allow a rich text in a XML doc comment's <summary>. -->
    <Rule Id="SA1462" Action="None" />
    <Rule Id="SA1642" Action="None" />
    <!-- Every property's docs doesn't have to start with "Gets", because
    it's ridiculous. -->
    <Rule Id="SA1623" Action="None" />
    <!--Allow to call an instance member of the local class or a base class is
    not prefixed with 'this.'. -->
    <Rule Id="SA1101" Action="None" />
    <!--Allow closing parenthesis to be placed in new line. -->
    <Rule Id="SA1009" Action="None" />
    <Rule Id="SA1111" Action="None" />
    <!-- TODO: Documentation -->
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1601" Action="None" />
    <Rule Id="SA0001" Action="None" />
  </Rules>

  <Rules AnalyzerId="Menees.Analyzers" RuleNamespace="Menees.Analyzers">
    <Rule Id="MEN002" Action="Warning" />
    <Rule Id="MEN007" Action="None" />
    <Rule Id="MEN009" Action="Warning" />
    <Rule Id="MEN010" Action="None" />
    <Rule Id="MEN011" Action="None" />
  </Rules>
</RuleSet>
