on: push
name: push docker image
jobs:
  build_and_push:
    if: github.repository == 'planetarium/libplanet'
    runs-on: ubuntu-20.04
    env:
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME  }}
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: login
        run: |
          docker login \
            --username "${{ secrets.DOCKER_USERNAME }}" \
            --password "${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}"
      - name: build
        run: |
          docker build \
            -f Dockerfile.explorer \
            -t planetariumhq/libplanet-explorer:git-${{ github.sha }} \
            .
      - name: push (publish)
        run: docker push planetariumhq/libplanet-explorer:git-${{ github.sha }}
